/* SignUp.css */

/* Background Image */
.custom-background {
  margin-top: 7rem;
  background-image: url('./images/signpage.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.custom-font {
  font-size: 2rem;
}

.signin-pad {
  padding: 6rem;
  width: 30vw;
}

/* "Sign Up" Heading Styles */
.signup-heading {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form Container Styles */
.form-container {
  background-color: rgba(229, 139, 139, 0.8);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 50vw;
  margin: 0 auto;
  text-align: center; /* Center the content inside the form container */
  position: relative; /* Add position relative for absolute positioning */
}

/* Error Message Styles */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .form-container {
    max-width: 100%;
    margin: 0 10px;
  }

  .custom-signup {
    margin-top: 4rem;
  }

  .signin-pad {
    padding: 3rem;
    width: 50vw;
  }
}
