.post {
  width: 18rem;
  margin: 3rem 0 2rem 4rem;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.post:first-child{
  margin-top: 7rem;
}

.post-body {
  padding: 3%;
}

.type {
  font-weight: 500;
}


.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 134.17%;
}

.author {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.views {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #525252;
}

.share {
  background: #EDEEF0;
  border-radius: 2px;
}

@media (min-width: 500px) {

  .post,
  .new-form {
    width: 30rem;
  }

  /*   
    .new-form {
      display: flex;
      flex-direction: column;
    } */
}