.main-section {
    margin-top: 6rem;
}

.main-img {
    background-image: url(../assets/images/home.png);
    opacity: 0.9;
    height: 50vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 129%;
    background-position: 0px -250px;
}

.main-body {
    margin: 220px;
    color: #fff;
}

.main-body h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.main-body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.borderx {
    border: 0.8px solid #FFFFFF;
    border-radius: 4px;
}

.bdcolor {
    background: #EDEEF0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.bordercolor {
    background: #2F6CE5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

li {
    font-weight: 400;
font-size: 16px;
line-height: 21px;
}