.overlay{
    display: none;
    background: rgb(0 0 0 / 20%);
    height: 100vh;
    position: absolute;
    width: 100%;
z-index: 1;
  }

.sign {
    margin: 8rem auto;
    padding: 5rem;
    background-color: #fff;
    width: max-content;
    border-radius: 13px;
  }
  
  .sign-orange {
    height: 100%;
  }
  
  .sign-form {
    padding: 15px;
    border-radius: 15px;
  }

  .custom-sign-btn{
    border-radius: 20px;
    background-color: #2F6CE5;
  }

  .cborder{
    border: 0.6px solid #D9D9DB;
border-radius: 2px;
  }

  .cbg{
    background-image: url('./images/signpage.png');
    background-repeat: no-repeat;
    background-position: 30px 20px;
    background-size: 100%;
  }

  @media (max-width: 785px) {
  
  
  }