.overlay {
  display: none;
  background: rgb(0 0 0 / 20%);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

.sign {
  margin: 4rem 4rem;
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 13px;
  margin-bottom: auto;

}
/* 
.sign-orange {
  height: 100%;
} */

/* .sign-form {
  padding: 15px;
  border-radius: 15px;
} */


.sign-form .form-control{
  border-radius: 0;
  background: #F7F8FA;
}

.custom-sign-btn {
  border-radius: 20px;
  background-color: #2F6CE5;
}

.cborder {
  border: 0.6px solid #D9D9DB;
  border-radius: 2px;
}

.cbg p:last-child{
    margin-left: 1rem;
}

@media (max-width: 567px) {
  .sign {
    padding: 2rem;
  }

}

@media (max-width: 871px) {
  
}