.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 3rem;
  z-index: 1;
}

.card,
.new-form {
  width: 18rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.card {
  padding: 3%;
}

.card:nth-child(2),
.new-form {
  margin-top: 8rem;
}

@media (min-width: 500px) {
  .card,
  .new-form {
    width: 30rem;
  }

  .new-form {
    display: flex;
    flex-direction: column;
  }
}
